<mat-card *ngIf="task">
    <mat-card-header>
        <mat-card-title>{{task.description | uppercase}} Details</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div>
            <mat-form-field>
                <input matInput placeholder="Id" value="{{task.id}}" disabled>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput [(ngModel)]="task.description" placeholder="Description"/>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput [(ngModel)]="task.image" placeholder="Image"/>
            </mat-form-field>
        </div>
        <div>
            <mat-radio-group name="status" [(ngModel)]="task.status" class="radio-group">
                <mat-radio-button *ngFor="let status of statuses" name="status" class="radio-button" value="{{status}}">
                    {{status}}
                </mat-radio-button>
            </mat-radio-group>
        </div>
        <mat-card-actions>
            <button mat-raised-button (click)="goBack()">
                <mat-icon>home</mat-icon>
                Go Back
            </button>
            <button mat-raised-button color="primary" (click)="save()">
                <mat-icon>save</mat-icon>
                Save
            </button>
        </mat-card-actions>
    </mat-card-content>
</mat-card>
