<div class="scrum-container">
    <h2><mat-icon>all_inbox</mat-icon>&nbsp;<span matBadge="{{todo.length}}" matBadgeOverlap="false">To do</span></h2>
    <div
            cdkDropList
            #todoList="cdkDropList"
            [cdkDropListData]="todo"
            [cdkDropListConnectedTo]="[doneList,inProgressList]"
            class="scrum-list"
            (cdkDropListDropped)="drop($event)">
        <!--    <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>-->
        <mat-card class="example-box" *ngFor="let item of todo" cdkDrag>
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{item.description}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <img mat-card-image src="../assets/no-image.jpg" alt="Photo of a Shiba Inu">
            </mat-card-content>
        </mat-card>
    </div>
</div>
<div class="scrum-container">
    <h2><mat-icon>cached</mat-icon>&nbsp;<span matBadge="{{inProgress.length}}" matBadgeOverlap="false">In Progress</span></h2>
    <div
            cdkDropList
            #inProgressList="cdkDropList"
            [cdkDropListData]="inProgress"
            [cdkDropListConnectedTo]="[todoList,doneList]"
            class="scrum-list"
            (cdkDropListDropped)="drop($event)">
        <mat-card class="example-box" *ngFor="let item of inProgress" cdkDrag>
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{item.description}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <img mat-card-image src="../assets/no-image.jpg" alt="Photo of a Shiba Inu">
            </mat-card-content>
        </mat-card>
    </div>
</div>
<div class="scrum-container">
    <h2><mat-icon>done</mat-icon>&nbsp;<span matBadge="{{done.length}}" matBadgeOverlap="false">Done</span></h2>
    <div
            cdkDropList
            #doneList="cdkDropList"
            [cdkDropListData]="done"
            [cdkDropListConnectedTo]="[todoList,inProgressList]"
            class="scrum-list"
            (cdkDropListDropped)="drop($event)">
        <mat-card class="example-box" *ngFor="let item of done" cdkDrag>
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{item.description}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <img mat-card-image src="../assets/no-image.jpg" alt="Photo of a Shiba Inu">
            </mat-card-content>
        </mat-card>
    </div>
</div>
